# Проигнорируйте файлы, находящиеся в подкаталоге tmp
tmp/

# и файлы, заканчивающиеся суффиксами _old
*_old

# и _backup
*_backup

# были проигнорированы файлы Thumbs.db
Thumbs.db

# и .DS_Store
*.DS_Store
